<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>abstractAPIApiKey</key>
		<string>20b96f237e03471a8472a715e2684ce5</string>
		<key>abstractAPIBaseUrl</key>
		<string>https://exchange-rates.abstractapi.com</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>abstractAPIApiKey</key>
		<string>20b96f237e03471a8472a715e2684ce5</string>
		<key>abstractAPIBaseUrl</key>
		<string>https://exchange-rates.abstractapi.com</string>
	</dict>
</dict>
</plist>
